{% extends "main.html" %}

{% block title %} Coding Challenge | About{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Welcome to the Coding Challenge!</h2>
                <p>Please find some useful information about this API below:</p>
                <p> - Create a message from the homepage (Home). </p>
                <p> - Log in as an admin and view all the messages that have been sent and delete them if needed. (Admin/Log in)</p>
                <p> - Search by uid to read a specific message (Messages) or visit http://0.0.0.0:5000/message/**enter**uid** </p>
            </div>
        </div>
    </div>

{% endblock %}
